.DS_Store
.env
.prisma
.react-router
**/.DS_Store
/prisma/data.db
/prisma/data.db-journal
/prisma/prisma
build
coverage
dist
mcp-servers/vitest/dist
node_modules

# Playwright
blob-report
playwright-report
playwright-results
playwright/.auth
playwright/.cache
test-results
vitest-results.json