# Environment variables and secrets
!.env.example
**/.DS_Store
**/.cache
**/.obsidian
**/cache
.env
.env.*
.prisma
.react-router
/prisma/data.db
/prisma/data.db-journal
/prisma/prisma
build
coverage
dist
mcp-servers/vitest/dist
node_modules
secrets.txt

# Playwright
.vscode/project.mcp.json
blob-report
playwright-report
playwright-results
playwright/.auth
playwright/.cache
test-results