.env
.obsidian
.prisma
.react-router
**/.cache
**/.DS_Store
**/cache
/prisma/data.db
/prisma/data.db-journal
/prisma/prisma
build
coverage
dist
mcp-servers/vitest/dist
node_modules
vitest-results.json

# Playwright
blob-report
playwright-report
playwright-results
playwright/.auth
playwright/.cache
test-results
